*{
	box-sizing: border-box;
	/*font-family: monospace !important;*/
}
@font-face{
	font-family: 'Lobster';
	src:url('../fonts/Lobster/Lobster-Regular.ttf');
}
@font-face{
	font-family: 'Oswald';
	src:url('../fonts/Oswald/Oswald-Regular.ttf');
}
a,span,img{
	text-decoration: none;
	display: inline-block;
	vertical-align: top;
}
.clear{
	clear: both;
}
.wrapper{
	width: 950px;
	height: auto;
	margin:0 auto;
}
.box-header-fixed{
	width: 100%;
	height: auto;
	text-align: center;
	background:pink;
	position:fixed;
	top:0;
	left:0;
	z-index: 999999999;
	display: none;
}
.box-header-fixed div{
	height: 80px;
	display: inline-block;
	vertical-align: top;
}
.box-hd-fix1{
	width: 20%;
	float:left;
	background:yellow;
}
.box-hd-fix2{
	width: 40%;
	background:blue;
}
.box-hd-fix3{
	width: 20%;
	float:right;
	background:red;
}
.box-header-full{
	width: 100%;
	height: auto;
}
.box-in-header{
	position: relative;
}
.box-header-wrapper{
	text-align: center;
	background:white;
}
.box-header-wrapper article{
	display: inline-block;
	vertical-align: top;
	width: 24%;
	height: 150px;
}
.box-art-head-one a img{
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: 150px;
}
.box-pre{
	float:left;
	width:60%;
	height: 100%;
	text-align:left;
	padding-top: 20px;
}
.box-pre span{
	font-size: 17px;
	color:black;
	font-family: Lobster;
	margin-bottom: 8px;
}
.box-pre div{
	width:100%;
	height: 10px;
	border-radius: 10px;
	background: #ff0000;
	margin-bottom: 8px;
}
.box-play{
	float:right;
	width:40%;
	height: 100%;
}
.box-art-head-three{
	position:relative;
}
.box-art-head-three img{
	width:100%;
	height: 100%;
}
.modal-radio{
	width: 100%;
	height: 100%;
	background:rgba(255,0,0,0.5);
	position:absolute;
	top:0;
	left:0;
}
.modal-radio a{
	padding:10px;
	font-size: 18px;
	color:white;
	border:2px solid white;
	margin-top: 60px;
	font-family: 'Lobster';
}
.box-search{
	width:100%;
	height: 50%;
	padding: 3px;
}
.form-search{
	padding:10px 0;
	background:#ff0000;
	border-radius: 5px;
	margin-top: 15px;
}
.form-search input[type="text"]{
	padding:5px;
	border:none;
	background:white;
	border-radius: 5px;
	width:70%;
}
.btn-buscar{
	padding:5px 8px;
	border:none;
	background:white;
	border-radius: 5px;
}
.box-in-art-three{
	width: 100%;
	height: 50%;
}
.box-in-art-three span{
	font-size: 19px;
	color:black;
	margin-top: 5px;
	font-family: 'Lobster';
}
.box-in-art-three ul li{
	display: inline-block;
	vertical-align:top;
}
.box-in-art-three ul li a{
	display: inline-block;
	vertical-align: top;
	font-size: 30px !important;
	margin-right: 10px;
	transition: all 0.1s linear;
}
.box-menu{
	background:white;
	border:3px solid #FF0000;
}
.box-menu ul li a{
	float:left;
	width: 25%;
	padding: 12px 0;
	color:black;
	font-size: 21px;
	text-align: center;
	transition:all 0.2s linear;
	font-family: 'Lobster';
}
.box-menu ul li a:hover{
	background:#FF0000;
	color:white;
}
.box-aside-left{
	width: 190px;
	height:500px;
	position:absolute;
	top:10px;
	left:-195px;
}
.box-aside-left img{
	display: inline-block;
	vertical-align: top;
	width:100%;
	height: 100%;
}
.box-aside-right{
	width: 190px;
	height:500px;
	position:absolute;
	top:10px;
	right:-195px;
}
.box-aside-right img{
	display: inline-block;
	vertical-align: top;
	width:100%;
	height: 100%;
	background-size:cover;
	background-position: center;
}
.box-body{
	padding:5px;
}
.box-body-first{
	text-align: center;
	width:100%;
	height: 500px;
	padding: 10px;
	background:#D0D0D0;
}
.box-body-first article{
	display: inline-block;
	vertical-align: top;
}
.boxfirst-one{
	float:right;
	width: 30%;
	height: 100%;
	padding:10px;
	text-align: left;
}
.boxfirst-one p{
	font-size: 17px;
}
.boxfirst-one a{
	width:100%;
	text-align: right;
	font-size: 17px;
}
.boxfirst-two{
	float:left;
	width: 68%;
	height: 100%;
	margin-right: 10px;
}
.boxin-fi-one{
	width: 100%;
	height: 70%;
	background:red;
}
.boxin-fi-two{
	width: 100%;
	height: 30%;
	background:skyblue;
}
.swiper-container{
	width:100%;
	height: 100%;
}
.swiper-slide{
	position:relative;
}
.swiper-slide img{
	width:100%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
}
.swiper-slide h3{
	position:absolute;
	top: 0;
	left:0;
	font-size: 20px;
	padding:10px;
	background:rgba(0,0,0,0.5);
	color:white;
}
/**codigo box-notices*/
.box-notices{
	width: 100%;
	height: auto;
	text-align: center;
	margin-top: 20px;
}
.box-notices h2{
	font-size: 25px;
	text-align: left;
	padding:10px 0;
	padding-left: 10px;
	color:black;
	text-decoration: bold;
	margin-bottom: 5px;
}
.box-notices article{
	display: inline-block;
	vertical-align: top;
	width: 30%;
	height: 200px;
	margin-bottom: 5px;
	margin-right: 8px;
	background:white;
}
.box-notices article img{
	display: inline-block;
	vertical-align: top;
	width:100%;
	height:70%;
}
.box-notices article h3{
	padding: 10px;
	font-size: 18px;
}
/**codigo box-programacion*/
.box-programacion{
	width:100%;
	height: auto;
	padding:20px 25px;
	background: #FF0000;
	border-radius: 10px;
	margin-top: 20px;
}
.box-programacion h2{
	font-size: 30px;
	font-family: 'Oswald';
	color:white;
	margin-bottom: 15px;
}
.img-program{
	display: inline-block;
	vertical-align: top;
	float:left;
	width:30%;
	height: 300px;
	border-radius: 10px;
}
.box-in-program{
	float:right;
	width:70%;
	height: 300px;
	padding:20px;
	padding-top: 45px;
}
.box-in-program h3{
	font-size:50px;
	color:white;
	text-decoration: bold;
	font-family: 'Lobster';
	margin-bottom: 10px;
}
.box-in-program div{
	width:60%;
	height: 10px;
	background:#f66f00;
	margin-bottom: 10px;
	border-radius: 10px;
}
.box-in-program span{
	font-size:35px;
	color:white;
	text-decoration: bold;
	font-family: 'Oswald';
}
/**codigo box-visto*/
.box-visto{
	width: 100%;
	height: auto;
	margin-top: 20px;
}
.box-comments{
	float:left;
	width:70%;
	height: 500px;
	background: blue;
}
.box-comments img{
	display: inline-block;
	vertical-align: top;
	width:100%;
	height: 100%;
}
.box-look{
	float:right;
	width:30%;
	height: 500px;
	background:#D0D0D0;
	padding:10px;
}
.box-look h3{
	font-size: 30px;
	height: 10%;
	text-decoration: bold;
}
.box-in-look{
	display: inline-block;
	vertical-align: top;
	width:100%;
	height: 90%;
	overflow: auto;
}
.box-in-look article{
	width:100%;
	height: 200px;
	margin-bottom: 10px;
	background: white;
}
.box-in-look article img{
	display:inline-block;
	vertical-align: top;
	width:100%;
	height: 70%;
}
.box-in-look article h3{
	height: 30%;
	font-size: 16px;
	padding: 5px;
}
/**codigo box-footer*/
.box-footer-full{
	width:100%;
	height: auto;
	background:#222222;
}
.box-in-footer{
	text-align: center;
	margin-top: 20px;
	padding: 30px 0;
}
.box-in-footer img{
	display:inline-block;
	vertical-align: top;
	float:left;
	width:30%;
	height: 200px;
}
.box-info-footer{
	float:right;
	width:70%;
	height: 200px;
	text-align: left;
	padding-left: 15px;
}
.box-info-footer a,span{
	font-size: 20px;
	color:white;
	margin-bottom: 10px;
}
.mini-comments img{
	display: inline-block;
	vertical-align: top;
	width:100%;
	height: 100px;
}
.box-info-footer p{
	display: inline-block;
	vertical-align: top;
	font-size: 20px;
	color:white;
	margin-top: 10px;
}